
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root, .theme-bw {
    --background: 255 100% 100%;
    --foreground: 0 0% 0%;
    --card: 255 100% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 255 100% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 0 0% 0%;
    --primary-foreground: 255 100% 100%;
    --secondary: 0 0% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 45%;
    --accent: 0 0% 95%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 85%;
    --input: 0 0% 98%;
    --ring: 0 0% 0%;
    --chart-1: 0 0% 50%;
    --chart-2: 0 0% 40%;
    --chart-3: 0 0% 30%;
    --chart-4: 0 0% 20%;
    --chart-5: 0 0% 10%;
    --radius: 0.5rem;
  }

  .dark:root, .dark.theme-bw {
    --background: 0 0% 0%;
    --foreground: 255 100% 100%;
    --card: 0 0% 5%;
    --card-foreground: 255 100% 100%;
    --popover: 0 0% 5%;
    --popover-foreground: 255 100% 100%;
    --primary: 255 100% 100%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 15%;
    --secondary-foreground: 255 100% 100%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 10%;
    --accent-foreground: 255 100% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 15%;
    --ring: 255 100% 100%;
    --chart-1: 0 0% 50%;
    --chart-2: 0 0% 60%;
    --chart-3: 0 0% 70%;
    --chart-4: 0 0% 80%;
    --chart-5: 0 0% 90%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
