
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root, .theme-bw {
    --background: 255 100% 100%;
    --foreground: 0 0% 0%;
    --card: 255 100% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 255 100% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 0 0% 0%;
    --primary-foreground: 255 100% 100%;
    --secondary: 0 0% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 45%;
    --accent: 0 0% 95%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 85%;
    --input: 0 0% 98%;
    --ring: 0 0% 0%;
    --chart-1: 0 0% 50%;
    --chart-2: 0 0% 40%;
    --chart-3: 0 0% 30%;
    --chart-4: 0 0% 20%;
    --chart-5: 0 0% 10%;
    --radius: 0.5rem;
  }

  .dark:root, .dark.theme-bw {
    --background: 0 0% 0%;
    --foreground: 255 100% 100%;
    --card: 0 0% 5%;
    --card-foreground: 255 100% 100%;
    --popover: 0 0% 5%;
    --popover-foreground: 255 100% 100%;
    --primary: 255 100% 100%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 15%;
    --secondary-foreground: 255 100% 100%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 10%;
    --accent-foreground: 255 100% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 15%;
    --ring: 255 100% 100%;
    --chart-1: 0 0% 50%;
    --chart-2: 0 0% 60%;
    --chart-3: 0 0% 70%;
    --chart-4: 0 0% 80%;
    --chart-5: 0 0% 90%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  /* From Uiverse.io by cuzpq */
  .theme-checkbox {
    --toggle-size: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 6.25em;
    height: 3.125em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 99em;
    position: relative;
    cursor: pointer;
    font-size: var(--toggle-size);
  }

  .theme-checkbox::before {
    content: "";
    width: 2.25em;
    height: 2.25em;
    position: absolute;
    top: 0.438em;
    left: 0.438em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 100%;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .theme-checkbox:checked::before {
    left: calc(100% - 2.25em - 0.438em);
    background-position: 0;
  }

  .theme-checkbox:checked {
    background-position: 100%;
  }
}
